#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d > #backgroundBox {
  position: absolute;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_2 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Rectangle_11 {
  position: absolute;
  width: 100.0%;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Rectangle_11 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Rectangle_11 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_16 {
  position: absolute;
  width: 133.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_16 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Image_27 {
  position: absolute;
  width: 13.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Image_27 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_17 {
  position: absolute;
  width: 84.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_17 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_17 span {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 17.0pt;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 17.0pt;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 {
  position: absolute;
  width: 315.23200277550563px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 .valign {
  vertical-align: middle;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #787878;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 {
  position: absolute;
  width: 315.23200277550563px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 .valign {
  vertical-align: middle;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #787878;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button {
  position: absolute;
  width: 75.6599040520544%;
  min-height: 55.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button > .backgroundLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button > .backgroundLayer > .colorLayer {
  background-color: #27A0EF;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button > .borderLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button > .backgroundLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Button span#rtr-s-Button_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 {
  position: absolute;
  width: 315.23200277550563px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 .valign {
  vertical-align: middle;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #787878;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 {
  position: absolute;
  width: 315.23200277550563px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 {
  box-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 .valign {
  vertical-align: middle;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #787878;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-4ffec82d-6968-4a08-abf2-0aa39cd50d6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
