#s-56dc4dd8-c664-4997-80e0-b74360380dc9 > #backgroundBox {
  position: absolute;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_18 {
  position: absolute;
  width: 380.0000000000002px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_18 {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: center;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_18 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_2 {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Rectangle_11 {
  position: absolute;
  width: 100.0%;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Rectangle_11 {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Rectangle_11 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_16 {
  position: absolute;
  width: 213.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_16 {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Image_27 {
  position: absolute;
  width: 13.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Image_27 {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_17 {
  position: absolute;
  width: 84.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_17 {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_17 span {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 17.0pt;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 17.0pt;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 {
  position: absolute;
  width: 315.23200277550563px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #787878;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button {
  position: absolute;
  width: 28.07536298925246%;
  min-height: 55.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button > .backgroundLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button > .backgroundLayer > .colorLayer {
  background-color: #27A0EF;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button > .borderLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button > .backgroundLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Button span#rtr-s-Button_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_19 {
  position: absolute;
  width: 303.0000000000002px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_19 {
  box-shadow: none;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_19 span {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #767676;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-56dc4dd8-c664-4997-80e0-b74360380dc9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
