#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 > #backgroundBox {
  position: absolute;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_18 {
  position: absolute;
  width: 263.6160013877525px;
  min-height: 198.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_18 {
  box-shadow: none;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_2 {
  box-shadow: none;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Rectangle_11 {
  position: absolute;
  width: 100.0%;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Rectangle_11 {
  box-shadow: none;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Rectangle_11 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_16 {
  position: absolute;
  width: 213.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_16 {
  box-shadow: none;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button {
  position: absolute;
  width: 75.6599040520544%;
  min-height: 55.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button {
  box-shadow: none;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button > .backgroundLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button > .backgroundLayer > .colorLayer {
  background-color: #27A0EF;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button > .borderLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button > .backgroundLayer {
  border-radius: 27px 27px 27px 27px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 #s-Button span#rtr-s-Button_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-adf5a582-2f0b-41cd-a530-0a761fb4de53 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
